.icon-container {
    position: relative;
    display: inline-block;
}

.icon-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    opacity: 0;
    white-space: nowrap;
}

.icon-container:hover .icon-text {
    opacity: 1;
}